<div class="container afu-container">

  <h3 class="title">angular-file-uploader</h3>

  <div class="border">
    <h4>Example-1 (Default Theme)</h4>
    <angular-file-uploader #afu1 [resetUpload]=resetUpload1 [config]="afuConfig1" class="afuc">
    </angular-file-uploader>
  </div>
  <br>
  <br>
  <div class="border">
    <h4>Example-2 (Theme - dragNDrop)</h4>
    <angular-file-uploader #afu3 [config]="afuConfig3" [resetUpload]=resetUpload3 (ApiResponse)="DocUpload($event)">
    </angular-file-uploader>
  </div>
  <br>
  <br>
  <div class="border">
    <h4>Example-3 (Theme - attachPin)</h4>
    <angular-file-uploader #afu2 [config]="afuConfig2" [resetUpload]=resetUpload2 (ApiResponse)="DocUpload($event)">
    </angular-file-uploader>
  </div>

  <!--  <br>
  <br> -->
  <!-- <button class="btn btn-info resetBtn" (click)="resetfu(1)">Reset 1</button>
  <button class="btn btn-info resetBtn" (click)="resetfu(2)">Reset 2</button> -->

</div>


<div class="container afu-container bottom-info">
  <div class="border">
    <h3 class="ffLato">Get Your Freelance Work Done Here !</h3>
    <p class="ffLato">Contact me at: <a href="mailto:kzrfaisal@gmail.com">kzrfaisal@gmail.com</a></p>
    <p>Skilled In: Angular, ReactJs, Ionic, React Native, NodeJs, MongoDB etc.</p>
  </div>
</div>