<div class="container afu-container">

  <h3 class="title">ngx-file-uploader</h3>

  <div class="border">
    <h4>Example-1 (Default Theme)</h4>
    <ngx-file-uploader [resetUpload]=resetUpload1 [config]="afuConfig1" class="afuc">
    </ngx-file-uploader>
  </div>
  <br>
  <br>

  <div class="border">
    <h4>Example-2 (Theme - dragNDrop)</h4>
    <ngx-file-uploader [config]="afuConfig3" [resetUpload]=resetUpload3 (ApiResponse)="docUpload($event)">
    </ngx-file-uploader>
  </div>
  <br>
  <br>

  <div class="border">
    <h4>Example-3 (Theme - attachPin)</h4>
    <ngx-file-uploader [config]="afuConfig2" [resetUpload]=resetUpload2 (ApiResponse)="docUpload($event)">
    </ngx-file-uploader>
  </div>
</div>


<div class="container afu-container bottom-info">
  <div class="border">
    <h3 class="ffLato">Get Your Freelance Work Done Here !</h3>
    <p class="ffLato">Contact me at: <a href="mailto:kzrfaisal@gmail.com">kzrfaisal@gmail.com</a></p>
    <p>Skilled In: Angular, ReactJs, Ionic, React Native, NodeJs, MongoDB etc.</p>
  </div>
</div>
